<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/yodasoda1219/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="yodasoda1219" />
            <add key="ClearTextPassword" value="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" />
            <!-- token has read:packages and nothing else -->
        </github>
    </packageSourceCredentials>
</configuration>